{% extends "layout.html" %}

{% block body %}
  <div class="card">
    <div class="card-body">
      <p>This is a simple discussion forum, developed for a course 
        Intermediate Studies Project: Database Application, 
        in  the Department of Computer Science at the University of Helsinki, spring 2020.
      </p>
      <a href="https://github.com/riiraty/tietokantasovellus" class="card-link">
        Source code and documentation available on GitHub 
        <i class="fas fa-external-link-alt"></i>
      </a>
    </div>
  </div>
{% endblock %}