<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Forum</title>
    <script src="https://kit.fontawesome.com/60cd6a16f0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body style="background-color:#FAFAFA;">

    <!-- Expanding navigation bar -->
    <nav class="navbar navbar-expand-md navbar-light bg-info mb-4">
      <a class="navbar-brand" href="/">Forum</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navigation links -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Latest content from users.">
              <a class="nav-link" href="{{ url_for('posts_index') }} "><i class="fas fa-comments fa-lg"></i> Posts</a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Start a new discussion.">
              <a class="nav-link" href="{{ url_for('threads_form') }} "><i class="fas fa-plus-circle fa-lg"></i> New</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Your archived posts.">
              <a class="nav-link" href="{{ url_for('get_archive', username=current_user.username) }} "><i class="fas fa-archive fa-lg"></i> Archive</a>
            </li>
            {% else %}
            <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Log in to use this feature.">
              <a class="nav-link disabled"><i class="fas fa-archive fa-lg"></i> Archive</a>
            </li>
            {% endif %}
        </ul>
        <!-- Search form -->
        <form class="form-inline mr-4" role="form" method="POST" action="{{ url_for('search') }}">
          <div class="form-group">
            <input class="form-control mr-sm-2" name="seek" type="search" placeholder="Search" aria-label="Search" data-toggle="tooltip" data-placement="bottom" title="Search users or content.">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </form>
        <!-- User account controllers -->
        <div class="form-inline mt-2 mt-md-0">
          {% if current_user.is_authenticated %}
          <a href="{{url_for('get_user', username=current_user.username)}}" style="color:#107484;">
            <span class="navbar-text mr-4">
              <i class="fas fa-user"></i><em> {{current_user.username}}</em>
            </span>
          </a>
          <a href="{{ url_for('auth_logout') }}" class="text-light"><i class="fas fa-sign-out-alt"></i> Logout</a>
          {% else %}
          <a href="{{ url_for('auth_login') }}" class="text-light"><i class="fas fa-sign-in-alt"></i> Login</a>
          <span class="navbar-text mr-2 ml-2">
            or 
          </span>
          <a href="{{ url_for('auth_signup') }}" class="text-light">Sign up</a>
          {% endif %}
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
            {% for category, message in messages %}
            <div class="{{ category }}" role="alert">
              {{ message }}
            </div>
            {% endfor %}
      {% endif %}
    {% endwith %}

    <main role="main" class="container">
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>