{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('posts_edit', post_id=post.id) }}">
  <table>
    <tr>
      <td>
        {{ form.content.label}}
      </td>
      <td>
        {% set f = form.content.process_data(post.content) %}
        {{ form.content() }}
      </td>
      <td>
        <ul>
          {% for error in form.content.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="save changes">
      </td>
    </tr>
    <tr>
      <td>
        <a href="{{url_for('posts_delete', post_id=post.id)}}"
          onclick="return confirm('Are you sure?')"
        >delete</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/posts/">cancel</a>
      </td>
    </tr>
  </table>
</form>
{% endblock %}