{% extends "layout.html" %}

{% block body %}
  <h2>Most recent</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Topic</th>
        <th scope="col">Latest update</th>
      </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr>
      <td>
        <a href="{{url_for('posts_thread', thread_id=post.thread.id)}}">
          {{ post.thread.title }}
        </a>
      </td>
      <td>{{ post.post_time.strftime("%H:%M %d/%m/%y") }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}