{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('posts_create',
  thread_id = thread_id) }}">
  <table>
    <tr>
      <td>
        {{ form.content.label}}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.content }}
      </td>
      <td>
        <ul>
          {% for error in form.content.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="comment">
      </td>
      <td>
        <a href="{{url_for('posts_thread', thread_id=thread_id)}}">cancel</a>
      </td>
    </tr>
  </table>
</form>
{% endblock %}