{% extends "layout.html" %}

{% block body %}
  <h2>Most recent</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Topic</th>
        <th scope="col">Posted by</th>
        <th scope="col">Latest update</th>
      </tr>
    </thead>
    <tbody>
    {% for thread in threads %}
    <tr>
      <td>
        <a href="{{url_for('posts_thread', thread_id=thread.id)}}" class="text-info">
          {{ thread.title }}
        </a>
      </td>
      <td><em>{{ thread.username }}</em></td>
      <td>
        {{ thread.modification_time.strftime("%H:%M %d/%m/%y") }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}