{% extends "layout.html" %}

{% block body %}
<h3>{{ thread.title }}</h3>
{% if user.id == thread.owner_id %}
<a class="btn btn-danger btn-sm float-right" href="{{url_for('threads_delete', thread_id=thread.id)}}" role="button"
onclick="return confirm('Are you sure? Your post and all the comments will be permanently deleted.')">
<i class="fas fa-trash-alt"></i> delete the thread
</a>
{% endif %}

<div class="table-responsive">
  <table class="table table-striped table-bordered mt-2">
    <tbody>
    {% for post in posts.items %}
      <tr>
        <td style="word-wrap: break-word; max-width: 120px;">
          <a href="{{url_for('get_user', username=post.account.username)}}" style="color:#107484;">
            <stron>
              <i class="fas fa-user-circle"></i>
              {{ post.account.username }}
            </strong>
          </a>
          </br>
          <em style="color:#0a464f;font-size:12px;">{{ post.post_time.strftime("%H:%M (%d/%m/%y)")}}</em>
        </td>
        <td style="word-wrap: break-word; min-width: 160px;max-width: 480px;">
          <p class="text-break">
            {{ post.content }}
          </p>
          {% if post.post_time != post.modification_time %}
          <em>(edited)</em>
          {% endif %}
        </td>
        {% if user.id == post.account_id %}
        <td>
          <div>
            <a class="btn btn-outline-secondary btn-sm btn-block" href="{{url_for('edit_form', thread_id=post.thread.id, post_id=post.id)}}" role="button">edit</a>
            <a class="btn btn-outline-danger btn-sm btn-block" href="{{url_for('posts_delete', thread_id=post.thread.id, post_id=post.id)}}" role="button"
              onclick="return confirm('Are you sure? Click `OK` to delete post permanently')"
            >delete</a>
          </div>
        </td>
        {% else %}
        <td></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% if posts.page == posts.pages %}
<a class="btn btn-info btn-block mb-2" href="{{ url_for('posts_form', thread_id=thread.id) }}" role="button"><i class="fas fa-plus"></i> add a comment</a>
{% endif %}

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-end">
    {% if posts.has_prev %}
    <li class="page-item">
      <a class="page-link" style="color:#107484;" href="{{ url_for('posts_thread', thread_id=thread.id, page=1) }}" aria-label="First">
      1
      </a>
    </li>
    {% if posts.prev_num !=1 %}
    <li class="page-item">
      <a class="page-link" style="color:#107484;" href="{{ url_for('posts_thread', thread_id=thread.id, page=posts.prev_num) }}" aria-label="Previous">
        <span aria-hidden="true">&laquo; {{ posts.prev_num }}</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    {% endif %}
    {% if posts.pages != 1 %}
    <li class="page-item active"><a class="page-link" href="{{ url_for('posts_thread', thread_id=thread.id, page=posts.page) }}">{{ posts.page }}</a></li>
    {% endif %}
    {% if posts.has_next %}
    <li class="page-item">
      <a class="page-link" style="color:#107484;" href="{{ url_for('posts_thread', thread_id=thread.id, page=posts.next_num) }}" aria-label="Next">
        <span aria-hidden="true">{{ posts.next_num }} &raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" style="color:#107484;" href="{{ url_for('posts_thread', thread_id=thread.id, page=posts.pages) }}" aria-label="Last">
        most recent
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endblock %}