{% extends "layout.html" %}

{% block body %}
<h3>With an account, you can participate in Forum discussions. Sign up by filling the form.</h3>

<form method="POST" action="{{ url_for('auth_signup') }}">
  <div class="form-group">
    <div>
      {% for error in form.username.errors %}
      <em>{{ error }}</em> </br>
      {% endfor %}
    </div>
    <div>
      {{ form.username(class="form-control", placeholder="Username")}}
    </div>
  </div>
  <div class="form-group">
    <div>
      {% for error in form.password.errors %}
      <em>{{ error }}</em> </br>
      {% endfor %}
    </div>
    <div>
      {{ form.password(class="form-control", placeholder="Password")}}
    </div>
  </div>
  <div class="form-group">
    <div>
      {% for error in form.confirm.errors %}
      <em>{{ error }}</em> </br>
      {% endfor %}
    </div>
    <div>
      {{ form.confirm(class="form-control", placeholder="Repeat password")}}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">sign up</button>
  <a class="btn btn-warning" href="{{url_for('posts_index')}}" role="button">cancel</a>
</form>
{% endblock %}